body {
  flex-direction: column;
  transition: all 0.5s ease;
  height: 100vh;
  margin: 20px;
  perspective: 25rem;
  background-color: #fff;
}

body.dark-mode {
  background-color: #000;
  transition: all 0.5s ease;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  margin: 50px 0;
  /* max-width: 480px; */
  /* transform-style: preserve-3d;
  transform: rotate3d(30deg); */
}

.ball {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  opacity: var(--opacity);
  /* transform: scale(var(--scale)) rotatex(-30deg); */
  transform: scale(var(--scale));
  margin: 0;
  border: 0.5px solid #eee;
  border-radius: 50%;
}

body.dark-mode > .wrapper > .ball {
  border: 0.5px solid #333;
}

.mode-toggle {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 1.25rem;
  opacity: 0.8;
  transition: all 0.25s ease;
  padding: 10px;
}

.mode-toggle:hover {
  opacity: 1;
  transition: all 0.25s ease;
}