* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  transition: all 0.5s ease;
  height: 100vh;
  margin: 20px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body.dark-mode {
  background-color: #000;
  transition: all 0.5s ease;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  margin: 50px 0;
}

.ball {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  opacity: var(--opacity);
  transform: scale(var(--scale));
  margin: 0;
  border: 0.5px solid #eee;
  border-radius: 50%;
}

body.dark-mode > .container > .wrapper > .ball {
  border: 0.5px solid #333;
}

.mode-toggle {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 1.25rem;
  opacity: 0.8;
  transition: all 0.25s ease;
  padding: 10px;
}

.mode-toggle:hover {
  opacity: 1;
  transition: all 0.25s ease;
}

/*////////*/
/* Footer */
/*////////*/

footer {
  color: #999;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
}

footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
}

footer a:hover {
  transition: all 0.2s ease;
  text-decoration: underline;
  font-weight: bold;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

.p-30 {
  padding: 30px;
}

.m-30 {
  margin: 30px;
}